{% render 'partials/head.liquid', title: 'Squad page' %}

<main> 

  <section class="first">
    <h1 class="heading-frontpage">Meet our tribe</h1>
  </section>

  <section class="second">
    <ul>
      <a href="/kitchen">
        <li class="blue-person">
          <img src="assets/person1.svg">
        </li>
      </a> 

      <li>
        <img src="assets/person2.svg"> 
      </li>

      <li class="blue-person">
        <img src="assets/person1.svg"> 
      </li>

      <li>
        <img src="assets/person2.svg"> 
      </li>

      <li class="blue-person">
        <img src="assets/person1.svg"> 
      </li>
    </ul>
    
    
  </section>

</div>

{% render 'partials/foot.liquid', squads: squads %}

{% comment %} 
<h2>Students</h2>
<ul>
  {% for person in persons %}
    <li><a href="/student/{{ person.id }}">{{ person.name }}</a></li>
  {% endfor %}
</ul> {% endcomment %}
