@font-face {
    font-family: "shadowInto";
    src: url("public/fonts/Shadows_Into_Light/ShadowsIntoLight-Regular.ttf") format("TrueType");
    font-weight: 300;
    font-style: normal;
}

body {
    /* fonts */
    --font-default: "shadowInto", sans-serif;

    /* colours */
    --background-color: black;
    --text-color: white; 
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    scroll-snap-type: y mandatory;
    height: 100vh;
    overflow-y: auto; 
    overscroll-behavior-y: contain;  
}

section {
    display: flex;
    height: 100vh;   
}

.first {
    justify-content: center;
    align-items: center;
}

.second {
    justify-content: center;
    align-items: end;

}


.first {
    background: var(--background-color);
}


h1 {
    font-family: var(--font-default);
    color: var(--text-color);
    font-size: 6rem;
    font-style: italic;
}

ul {
    display: flex;
    list-style: none;
    margin-top:  8em;
}

.blue-person {
    padding-top: 5em;

    &:hover {
    transform: translateY(-10px);
    cursor: pointer;
    }
}

